### Lists
In this notebook, we will go through lists, creation and initiation, methods, functions of lists in Python

list in python are declared using **[]**. lists can have mixed data types. empty lists are declared as **list()**.

In [1]:
list1 = [1, 2, 3, 4]
type(list1)

list

In [2]:
list1 = ['I', 'am', 30, 'years', 'old']
list1

['I', 'am', 30, 'years', 'old']

In [3]:
list1 = [1, list1]
list1

[1, ['I', 'am', 30, 'years', 'old']]

In [4]:
list1 = list()
list1

[]

**range()** function is used to create various numerical lists. **range()** is a generator and needs to be assigned to a list.

In [5]:
range(5) #does not actually gives a list of numbers

range(0, 5)

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
list1 = list(range(5)) #starts at 0 and the end number is excluded
list1

[0, 1, 2, 3, 4]

In [8]:
list1 = list(range(10, 21)) #starts at 10 and ends at 20
list1

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
list1 = list(range(10, 21, 1)) #starts at 10 and ends at 20, with increments or step of 1, default step is 1
list1

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
list1 = list(range(10, 21, 2)) #starts at 10 and ends at 20, with increments or step of 2
list1

[10, 12, 14, 16, 18, 20]

**[]** operator is used to access list elements. lists are ordered data types meaning they have indices associated with each element. we use these indices within **[]** operator to extract data

In [11]:
list1[0] #Python idexing always starts from 0

10

In [12]:
list1[-1] #gets the last element in a list

20

In [13]:
list1[1]

12

In [14]:
list1[-2] #gets the second last element in a list

18

In [15]:
#though there are 6 elements, the index of the last element is 5 as lists are 0-indexed
# list1[6] #uncomment and run cell to see the error

In [16]:
#there are only 6 elements, the index of the first element is -6
# list1[-7] #uncomment and run cell to see the error

**len()** function is used to get the length of the list, i.e. the number of elements in the list

In [17]:
len(list1)

6

In [18]:
-len(list1)

-6

In [19]:
#throws errors as index 6 is out of range
# list1[len(list1)] #uncomment andrun cell to see the error

In [20]:
list1[len(list1)-1] #gets the last element in the list

20

In [21]:
list1[-len(list1)] #gets the first element in the list

10

**lists are mutable** meaning the values in the list can be modified, deleted after creation of the list.

**list methods**

In [22]:
#list[index]
list1[-1] = 22 #modify a specific element in the list
list1

[10, 12, 14, 16, 18, 22]

In [23]:
list1.pop() #removes the last element in the list and sends the element value

22

In [24]:
list1

[10, 12, 14, 16, 18]

In [25]:
#list.append(value)
list1.append(20) #appends the elements to the end of the list
list1

[10, 12, 14, 16, 18, 20]

In [26]:
list2 = list(range(22, 31, 2))
list2

[22, 24, 26, 28, 30]

In [27]:
#list.extend(list)
list1.extend(list2) #appends a list to the existing list and continues the indexation of the first list
list1

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [28]:
list1[7]

24

In [29]:
#list.insert(index, value)
list1.insert(1, 11) #insert a value at specific index, 
                    #the first argument is the index beofre which the element will be inserted and 
                    #the second argument is the value to be inserted
list1

[10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [30]:
#list.remove(value)
list1.remove(11) #removes the first occurance of the element
list1

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [31]:
#list.remove(value) throws an error if no element found
# list1.remove(11) #uncomment and run cell to see the error

In [32]:
#list.pop(index)
list1.pop(-1) #removes the element at the specified index in the list and sends the element value

30

In [33]:
list1

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [34]:
list2 = list(range(24, 31, 2))
list1.extend(list2)
list1

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 24, 26, 28, 30]

In [35]:
#list.index(value)
list1.index(10) #returns the index of first occurance of the element

0

In [36]:
list1.index(24) #24 and 26 occurs twice but only the first occurance is returned

7

In [37]:
#list.index(value, start index, end index)
list1.index(24, 8, ) #returns the index of the first occurance of the elements within the specified range

10

In [38]:
#throws an error if no element found
# list1.index(5) #uncomment and run cell to see the error

In [39]:
#list.count(value)
list1.count(10) #returns the number of occurances of the element in the list

1

In [40]:
list1.count(24)

2

In [41]:
list1.count(5)

0

In [42]:
#list.reverse()
list1.reverse() #reverses the list inplace
list1

[30, 28, 26, 24, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10]

In [43]:
#list.clear()
list1.clear() #clears all the elements in the list inplace
list1

[]

In [44]:
list1 = ['toronto', 'bangalore', 'venice', 'bali', 'london', 'amsterdam']
list1

['toronto', 'bangalore', 'venice', 'bali', 'london', 'amsterdam']

In [45]:
#list.sort()
list1.sort() #sorts the elements inplace, by default compares the elements
list1

['amsterdam', 'bali', 'bangalore', 'london', 'toronto', 'venice']

In [46]:
#list.sort(reverse=bool)
list1.sort(reverse=True) #reverse sorts the elements inplace, by default compares the elements
list1

['venice', 'toronto', 'london', 'bangalore', 'bali', 'amsterdam']

In [47]:
#list.sort(key)
list1.sort(key=len) #sorts the elements inplace using len as key
list1

['bali', 'venice', 'london', 'toronto', 'bangalore', 'amsterdam']

In [48]:
#list.sort(key)
list1.sort(key=len, reverse=True) #sorts the elements inplace using len as key
list1

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali']

there are 2 ways to copy a list to another list
* **list2 = list1**
    * this creates a list2 from list1 but both the lists points to the same object. any changes made in one of the lists will affect the other as well
* **list2 = list1.copy()** (preferred way)
    * this creates a list2 from list1 but both are different onejcts. changes made in one list will not affect other

In [49]:
list2 = list1

In [50]:
list1

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali']

In [51]:
list2

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali']

In [52]:
list1.append('singapore')

In [53]:
list1

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali', 'singapore']

In [54]:
list2

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali', 'singapore']

In [55]:
list3 = list1.copy()

In [56]:
list1

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali', 'singapore']

In [57]:
list3

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali', 'singapore']

In [58]:
list1.append('vancouver')

In [59]:
list1

['bangalore',
 'amsterdam',
 'toronto',
 'venice',
 'london',
 'bali',
 'singapore',
 'vancouver']

In [60]:
list2

['bangalore',
 'amsterdam',
 'toronto',
 'venice',
 'london',
 'bali',
 'singapore',
 'vancouver']

In [61]:
list3

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali', 'singapore']

**list functions**

In [62]:
#len(list)
len(list1) #return the numbers of elements in the list

8

In [63]:
#max(list)
max(list1) #returns the largest item in the list

'venice'

In [64]:
#max(list1, list2)
max(list1, list3) #returns the largest of the two or more lists

['bangalore',
 'amsterdam',
 'toronto',
 'venice',
 'london',
 'bali',
 'singapore',
 'vancouver']

In [65]:
#max(list, key)
max(list1, key=len) #returns the largest item in the list based on the key

'bangalore'

In [66]:
#max(list, default)
list4 = list()
max(list4, default=list1) #return the default list when the provided list is empty

['bangalore',
 'amsterdam',
 'toronto',
 'venice',
 'london',
 'bali',
 'singapore',
 'vancouver']

In [67]:
#throws an error when the provided list is empty and no default specified
# max(list4) #uncomment and run cell to see the error

In [68]:
#min(list)
min(list1) #returns the smallest item in the list

'amsterdam'

In [69]:
#min(list1, list2)
min(list1, list3) #returns the largest of the two or more lists

['bangalore', 'amsterdam', 'toronto', 'venice', 'london', 'bali', 'singapore']

In [70]:
#min(list, key)
min(list1, key=len) #returns the largest item in the list based on the key

'bali'

In [71]:
#min(list, default)
list4 = list()
min(list4, default=list1) #return the default list when the provided list is empty

['bangalore',
 'amsterdam',
 'toronto',
 'venice',
 'london',
 'bali',
 'singapore',
 'vancouver']

In [73]:
#throws an error when the provided list is empty and no default specified
# min(list3) #uncomment and run cell to see the error