### Tuples
In this notebook, we will go through tuples, creation and initiation, methods, functions of tuples in Python

in python, there are sequence and collection
* sequence is where the data output is exactly the same as the data input. elements in sequence can be accessed by index
* collection is where the data output is not the same as data input. elements in collection can be accessed by key

also in python, there are mutable objects and immutable objects
* mutable objects can be modified post the object creation
* immutable objects can not be modified once they are created

**tuple** in python is a **immutable sequence**. tuples can have mixed data types. empty tuples are declared either as **tuple()** or **( )**.

In [1]:
tuple1 = (1, 2, 3, 4, 3, 4)
type(tuple1)

tuple

In [2]:
tuple1

(1, 2, 3, 4, 3, 4)

In [3]:
tuple1 = tuple()
type(tuple1)

tuple

In [4]:
tuple1

()

In [5]:
tuple1 = (1, 2, 3, 4, (4, 5, 6), 3, 4)
tuple1

(1, 2, 3, 4, (4, 5, 6), 3, 4)

In [6]:
tuple1 = (1, 2, 3, 4, 3, 4)

**[ ]** operator is used to access tuple elements. tuples are ordered data types, meaning they have indices associated with each element. we use these indices within **[ ]** operator to extract data

In [7]:
tuple1[0]

1

In [8]:
tuple1[-1]

4

**len()** function is used to get the length of the list, i.e. the number of elements in the list

In [9]:
len(tuple1)

6

**tuples are immutable** meaning the values in the tuple cannot be modified, deleted after creation of the tuple.

In [10]:
#throws errors as tuples cannot be modified once created
# tuple1[0] = 5 #uncomment andrun cell to see the error

**tuple methods**

In [11]:
#tuple.count(value)
tuple1.count(1) #returns the number of occurances of the element in the tuple

1

In [12]:
tuple1.count(4)

2

In [13]:
tuple1.count(10)

0

In [14]:
#tuple.index(value)
tuple1.index(2) #returns the index of first occurance of the element

1

In [15]:
tuple1.index(4) #3 and 4 occurs twice but only the first occurance is returned

3

In [16]:
#tuple.index(value, start index, end index)

tuple1.index(3, 4, ) #returns the index of the first occurance of the element within the specified range

4

**tuple functions**

In [17]:
#len(tuple)
len(tuple1) #returns the numbers of elements in the tuple

6

In [18]:
#max(tuple)
max(tuple1) #returns the largest item in the tuple

4

In [19]:
#max(tuple1, tuple2)
tuple2 = (6, 7, 8, 9)
max(tuple1, tuple2) #returns the largest of the two or more tuples

(6, 7, 8, 9)

In [20]:
#max(tuple, key)
tuple3 = ('abc', 'defg', 'hijkl')
max(tuple3, key=len) #returns the largest item in the tuple based on the key

'hijkl'

In [21]:
#max(tuple, default)
tuple4 = tuple()
max(tuple4, default=tuple2) #returns the default tuple when the provided tuple is empty

(6, 7, 8, 9)

In [22]:
#throws an error when the provided tuple is empty and no default specified
# max(tuple4) #uncomment and run cell to see the error

In [23]:
#min(tuple)
min(tuple1) #returns the smallest item in the tuple

1

In [24]:
#min(tuple1, tuple2)
min(tuple1, tuple2) #returns the smallest of the two or more tuples

(1, 2, 3, 4, 3, 4)

In [25]:
#min(tuple, key)
min(tuple3, key=len) #returns the smallest item in the tuple based on the key

'abc'

In [26]:
#min(tuple, default)
tuple4 = tuple()
min(tuple4, default=tuple3) #returns the default tuple when the provided tuple is empty

('abc', 'defg', 'hijkl')

In [27]:
#throws an error when the provided tuple is empty and no default specified
# min(tuple4) #uncomment and run cell to see the error

In [28]:
#list(tuple)
list(tuple1) #converts the given tuple to a list

[1, 2, 3, 4, 3, 4]